//here are some examples of what else to use...

Injector:
  EcommercePaymentSupportedMethodsProvider:
    class: MyCustom_EcommercePaymentSupportedMethodsProvider

Product:
  extensions:
    - CountryPrice_CopyPrices

ProductGroup:
  extensions:
    - CountryPrice_CopyPrices

EcommerceCountry:
  allowed_country_codes: []
  visitor_country_provider: "EcommerceCountry_VisitorCountryProvider"
  default_country_code: "NZ"

Distributor:
  distributor_permission_code: "distributors"

CountryPrice_OrderDOD:
  only_allow_within_country_sales: true

CountryPrice_BuyableExtension:
  allow_usage_of_distributor_backup_country_pricing: true
